In [2]:
from sklearn import svm
import pandas as pd 
import math

##### Make a simple sklearn classifier
First, read the data using `pandas.read_csv()`.Note that the final columns contains the `class_type` field that we are interested in.

In [5]:
data = pd.read_csv("zoo.csv")
data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

##### Preprocess the data
Split data up for training and evaluation.

In [7]:
def preprocess(data):
    X = data.iloc[:, 1:17] # All rows, all the features and no labels
    y = data.iloc[:, 17] # all rows, label only
    return X, y

In [8]:
from sklearn.model_selection import train_test_split

all_X, all_y = preprocess(data)
X_train, X_test, y_train, y_test = train_test_split(all_X, all_y)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(75, 16) (26, 16) (75,) (26,)

##### Train and Evaluate the model
It's easy to swap in a different model of your choice.

In [10]:
clf = svm.SVC()
clf.fit(X_train, y_train)

clf.score(X_test, y_test)

0.9615384615384616

##### Predict on some new data
We can predict new values with a one line call.

In [11]:
clf.predict(X_test[15:25])

array([1, 1, 2, 2, 1, 1, 1, 7, 4, 1], dtype=int64)

In [12]:
# show what the correct answer is
y_test[10:15]

32    1
65    1
2     4
41    2
51    6
Name: class_type, dtype: int64